/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    overflow-x: hidden;
}
/*--------------------*/
body {
    overflow-x: hidden; 
    font-family: 'Poppins', sans-serif; /*Вставить семейство шрифта*/
    font-size: 16px; /*Размер шрифта поумолчанию*/
    color: rgba(33, 56, 66, 0.6); /*Цвет шрифта поумолчанию*/
}
.wrapper {
    position: relative;
}
.container {
    max-width: 1109px; /* Ширина контейнера*/
    margin: 0 auto; /*ставит контейнер по центру*/
    padding: 0 20px;
}

.header {
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header__container {
display: flex;
justify-content: space-between;
align-items: center;
min-height: 40px;
padding: 10px 20px;
}
.burger__icon { 
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}
.burger__icon:hover {
    background: #c0bebe;
}
.main {
    position: relative;
    
    
    width: 100%;
    background: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 811px;
}
.main__container {
    display: flex;
    align-items: center;
    height: 100%;
}
.main__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.main__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.main__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 45px;
}
.main__link-item {
    border-bottom: 1px solid #FFD723;
}
.main__link-item:hover {
    border-bottom: none;
}
.logotip__brand__tablet {
    width: 100%;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    padding: 0 20px;
    display: none;
}
.tablet__items {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.tablet__items-brand img {
    width: 100%;
}
/* =====Logotip======= */
.logotip__container {
    padding-bottom: 150px;
    border-bottom: 1px solid #E2E4E5;
    
}
.logotip__brand__desktop {
    height: 227px;
    background-color: #fff;
    position: relative;
    top: -143px;
    border-radius: 2px 0 0 2px;
    z-index: 1;
}

.logotip__brand__desktop::before {
    content: "";
    background-color: #fff;
    height: 100%;
    display: block;
    border-radius: 2px 0 0 2px;
    position: absolute;
    width: 100vw;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
}
.logotip__items {
    display: flex;
    position: relative;
    top: 60px;
    justify-content: flex-end;
}
.logotip__items-brand {
    margin: 0 0 0 66px;
}
.logotip__box {
    display: flex;
    justify-content: space-between;
}
.logotip__subtitle {
    font-size: 14px;
    line-height: 21px;
    color: rgba(77, 83, 60, 0.9);
    margin-bottom: 29px;
}
.logotip__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
    margin-bottom: 35px;
}
.logotip__text {
    line-height: 26px;
    margin-bottom: 42px;
}
.logotip__link-item {
    border-bottom: 1px solid #D4D6D4;
}
.logotip__link-item:hover {
    border-bottom: none;
}
.logotip__media {
    position: relative;
    padding: 60px 40px;
}
.logotip__media::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    left: 0;
    bottom: 0;
    height: 650px;
}
.logotip__media-text {
    font-style: italic;
    font-size: 24px;
    line-height: 40px;
    color: #4D533C;
    margin-bottom: 50px;
}
.logotip__media-foto {
    display: flex;
    align-items: center;
}
.media-foto__icon {
    margin-right: 30px;
}
.name__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #4D533C;
}
.name__subtitle {
    line-height: 24px;
    color: #152934;
}
/* ===== */
.projects {
    
}
.projects__container {
    padding: 150px 20px 190px 20px;
    border-bottom: 1px solid #E2E4E5;
}
.projects__header {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.projects__title {
    margin-right: 133px;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #4D533C;
}
.projects__text {
    line-height: 26px;
}
/* ====================== */
.projects__content {
}
.project {
    display: flex;
}
.project {
    margin-bottom: 160px;
}
.project__image {
    
    flex-shrink: 0;
    width: 50%;
    position: relative;
    
}
.project__image::before {
    content: "";
    display: block;
    background: url("../img/project1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 150%;
    height: 100%;
    position: absolute;
    right: 0;

}
.project__review {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    width: 453px;
    right: -40px;
    height: 243px;
    bottom: -60px;
    padding: 30px;
}
.project__content {
    padding: 80px 90px;
}
.project__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #4D533C;
    margin-bottom: 24px;
}
.project__text {
    line-height: 26px;
    margin-bottom: 24px;
}
.text2 {
    margin-bottom: 116px;
}
.project__link {
    color: #D4D6D4;
}
.project__link:hover {
    color: #FFD723;
}
.review__text {
    margin-bottom: 24px;
    font-style: italic;
    line-height: 26px;
    color: #4D533C;
}
.review__box {
    display: flex;
    align-items: center;
}
.review__name {
    margin-left: 14px;
}
.name__one {
    font-weight: 700;
    line-height: 24px;
    color: #4D533C;
}
.name__two {
    font-size: 14px;
    line-height: 21px;
    color: #152934;
}
/* ====== Project 2 ====== */
.project2 {
    flex-direction: row-reverse;
}

.project2 .project__image::before {
    right: unset;
    background-image: url("../img/project2.jpg");
}

.project2 .project__review {
    left: -40px;
}
/* ====== Project 3 ===== */
.project3 .project__image::before {
    background-image: url("../img/project3.jpg");
    margin-bottom: unset;
}

/* ===== Deation ====== */
.deation__container {
    padding-top: 150px;
    position: relative;
    
}
.deation__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
    margin-bottom: 60px;
}
.deation__items {
    display: flex;
}
.items__service {
    width: 25%;
    padding:27px 30px 36px 30px;
    position: relative;
}
.service__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
    margin-bottom: 20px;
}
.service__subtitle {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 56px;
}
.service__link {
position: absolute;
left: 30px;
bottom: 36px;
line-height: 18px;
color: #D4D6D4;
}
.service__link:hover {
    color: #FFD723;
    
}
.border {
    padding: 0 0 0 5px;
}
.border:hover {
    border-bottom: 1px solid #FFD723;
    
}
/* ===== Amazing ===== */
.amazing {
    background: #FAFAFA;
    position: relative;
    z-index: 1;
    padding: 70px 0;
    bottom: -177px;
    width: 100%;

}
.amazing::before {
    content: "";
    display: block;
    background: #FAFAFA;
    width: 100vw;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
.amazing__text {
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
    margin-bottom: 50px;
    position: relative;
}
.amazing__link {
    line-height: 18px;
    color: #D4D6D4;
    position: relative
}
/* ====== Footer ===== */
.footer {
    background: url("../img/Bg-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
}
.footer__container {
}
.footer__contacts {
    display: flex;
    padding: 310px 0 52px 0;
    margin-bottom: 60px;
    border-bottom: 2px solid #5D6544;
}
.contacts__phone {
    margin-right: 128px;
}
.contacts__adress {
}
.contacts-item {
    line-height: 40px;
    color: #B6C197;
    margin-bottom: 36px;
}
.contacts-text {
    font-weight: 700;
    line-height: 40px;
    color: #FFFFFF;
}
.contacts-text:hover {
    color: #bdbcbc;
}
/* ==================== */
.footer__service-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.footer__services {
    display: flex;
}
.services-item1 {
    margin-right: 70px;
}
.services-item2 {
    margin-right: 100px;
}
.services-item3 {

}
.item-title {
    font-weight: 600;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.item-link {
    display: block;
    line-height: 40px;
    color: #B6C197;
}
.item-link:hover {
    border-bottom: 1px solid #B6C197;
}
.footer__get {
    padding-left: 110px;
    border-left: 2px solid #5D6544;;
}
.get-item {
    margin-bottom: 23px;
    line-height: 26px;
    color: #B6C197;

}
.get__email {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    
}
.get__email:hover {
    color: #cac8c8;
}
.social__box {
    margin-top: 24px;
}
.soc-link {
    margin-right: 11px;
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    color: #5D6544;
    background: #444A34;
    

}
.soc-link:hover {
    color: #FFFFFF;
    background: #FFD723;;
}
.soc-icon {
    position: relative;
    bottom: -13px;
}
/* ==================== */
.footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    border-top: 2px solid #5D6544;
}
.footer__header-text {
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}
/* ===== Media ====== */
@media (max-width: 1100px) {
    .main {
        background-position: center;
    }
    .logotip__brand__desktop {
        display: none;
    }
    .logotip__brand__tablet {
        display: block;
    }
    .logotip__media::before {
        height: 510px;
    }
    .logotip__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 1000px) {
    .project__content {
        padding: 20px 50px;
    }
    .footer__services {
        gap: 5px;
    }
    .services-item1 {
        margin-right: unset;
    }
    .services-item2 {
        margin-right: unset;
    }
    .footer__get {
        border-left: unset;
    }
}
@media (max-width: 800px) {
    .main {
        height: 600px;
    }
    .main__title {
        font-size: 50px;
        line-height: 60px;
    }
    .logotip__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .logotip__media {
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logotip__media-text {
        font-size: 20px;
        line-height: 35px;
    }
    .logotip__media-text br {
        display: none;
    }
    .logotip__content {
        width: 50%;
        flex-shrink: 0;
        padding: 30px 40px;
    }
    .projects__container {
        padding: 150px 20px 0 20px;
    }
    .project {
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .project__image {
        height: 400px;
        width: unset;
        
    }
    .project__image::before {
        left: -20px;
        width: calc(100% + 40px);
    }
    .project__content {
        padding-top: 70px;
    }
    .deation__items {
        flex-wrap: wrap;
    }
    .items__service {
        width: 50%;
    }
    .items__service br {
        display: none;
    }
}
@media (max-width: 700px) {
    .logotip__box {
        flex-direction: column;
    }
    .logotip__content {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .logo {
        width: 200px;
    }
    .logo img {
        width: 100%;
    }
    .main__title {
        font-size: 40px;
        line-height: 55px;
    }
    .main__text br {
        display: none;
    }
    .tablet__items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tablet__items-brand {
        width: 100px;
    }
    .logotip__title br {
        display: none;
    }
    .logotip__text br {
        display: none;
    }
}
@media (max-width: 500px) {
    .project__review {
        width: 100%;
        right: unset;
        left: unset !important;
    }
    .items__service {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .main__title {
        font-size: 30px;
        line-height: 45px;
    }
    .project__review {
        left: -20px !important;
        width: calc(100% + 40px);
        padding: 15px;
        height: unset;
    }
    .project__content {
        padding: 80px 0 0 0;
    }
    .project__title {
        font-size: 30px;
    }
    .project__text.text2 {
        margin-bottom: 50px;
    }
   
}


